@charset "utf-8";
/* CSS Document */


body  {
		background-color: #3B47B5;
		font-family: Arial, Helvetica, sans-serif;
		font-size: medium;
		color: #4D3200;
}
header {
		width: 900px;
		height: 200px;
		background-color: #CCC;
		text-align: center;
		padding-top: 10px;
		margin: auto;
}
section {
		width: 900px;
		background-image: url('images/2colback.jpg');
		background-repeat: repeat-y;
		overflow: hidden;
		margin: auto;
}
nav {
		float: left;
		width: 250px;
		padding-bottom: 20px;
		padding-top: 20px;
}
article {
		float: left;
		width: 650px;
		text-align: center;	
}
footer {
		text-align: center;
		width: 900px;
		height: 70px;
		background-color: #CCC;
		margin: auto;
}
.logoleft {
		float: left;
		padding-top: 0px;
		padding-left: 15px;	
}
nav a {
		border: 6px inset #CCCCCC;
		bacground-color: #351A00;
		line-hight: 250%;
		font-weight: bold;
		font-size: 35px;
		color: #FFEEE6;
		text-decoration: none;
		padding-left:10px;
		padding-right:10px;
		margin-left: 20px;
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	
}
nav a:hover {
	color: #9B3800;
	border: 2px outset #CCC;
}
h1{
	color: #CCC;
	text-align: center;
	font-size: xx-large;
}
p{ color: #FFFF63 }



.instructions{
	font-style: italic;
	}
.center{
	text-align: center;
	}
.auto-style1 {
	float: left;
	height: 150px;
	padding: 0px 15px 10px 80px;
	margin-left: 29px;
	
}
h2 { color: #CCC }

h3 { color: #FF8039 }
	
hr{
	border-style: solid;
	border-color: #FFD563;
	border-width: 1px;
}
